@import './fonts.css';
@import './icons.css';
@import './logos.css';
@import './overtime-icons.css';

html {
    scroll-behavior: smooth;
    background: #07091c;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0)
        env(safe-area-inset-left, 0);
    overflow-x: hidden !important;
    padding-right: 0 !important;
    font-family: Montserrat;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: #a9abbb transparent;
}

*::-webkit-scrollbar {
    border-radius: 8px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: #313652;
    border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
    background: #a9abbb;
    border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}

#root {
    height: 100vh;
    width: 100vw;
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    &.collapse {
        /* overflow: hidden; */
    }
}

a {
    text-decoration: none;
}

.MuiMenu-paper {
    background: #313652 !important;
    color: white !important;
    border-radius: 8px !important;
}

.MuiMenu-paper .Mui-selected {
    background: #1f2438 !important;
}

.MuiMenu-paper .MuiListItem-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.chartLabel {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    fill: rgb(255, 255, 255) !important;
    font-family: Montserrat;
    width: min-content;
    text-align: center;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(25, 248, 239, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(25, 248, 239, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(25, 248, 239, 0);
    }
}
